<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
                <style type="text/css">

                  body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
                          margin:0;
                          padding:0;
                          border-width:0;
                  }
                  body {
                          -epub-hyphens:auto;
                  }
                  div.Marco-de-texto-b-sico {
                          border-style:solid;
                  }
                  p.P-rrafo-b-sico, li.P-rrafo-b-sico {
                          color:#000000;
                          font-family:"Minion Pro", serif;
                          font-size:14px;
                          font-style:normal;
                          font-variant:normal;
                          font-weight:normal;
                          line-height:1.2;
                          margin-bottom:0;
                          margin-left:0;
                          margin-right:0;
                          margin-top:0;
                          orphans:1;
                          page-break-after:auto;
                          page-break-before:auto;
                          text-align:left;
                          text-decoration:none;
                          text-indent:0;
                          text-transform:none;
                          widows:1;
                  }
                  p.ParaOverride-1 {
                          text-align:center;
                  }
                  p.ParaOverride-2 {
                          -epub-hyphens:none;
                  }
                  li.ParaOverride-3 {
                          -epub-hyphens:none;
                          list-style-position:outside;
                          list-style-type:disc;
                          margin-left:18px;
                          text-indent:0px;
                  }
                  p.ParaOverride-4 {
                          -epub-hyphens:none;
                          text-align:center;
                  }
                  span.CharOverride-1 {
                          font-family:"Avenir Heavy", sans-serif;
                          font-size:13px;
                          font-style:normal;
                          font-weight:900;
                  }
                  span.CharOverride-2 {
                          font-family:"Avenir Book", sans-serif;
                          font-size:11px;
                          font-style:normal;
                          font-weight:normal;
                  }
                  span.CharOverride-3 {
                          font-family:"Avenir Black", sans-serif;
                          font-size:11px;
                          font-style:normal;
                          font-weight:800;
                  }
                  #_idContainer001 {
                          display:inline-block;
                          height:123px;
                          width:339px;
                  }
                  #_idContainer002 {
                          display:inline-block;
                          height:77px;
                          width:83px;
                  }
                  img._idGenObjectAttribute-1 {
                          height:100.00%;
                          min-width:100%;
                          width:100.00%;
                  }
                  div._idGenObjectStyleOverride-1 {
                          border-width:0px;
                  }
                </style>
                          </head>
                          <body id="rodada_en_altura_3" lang="es-ES">
                                  <div id="_idContainer000" class="Marco-de-texto-b-sico">
                                          <p class="P-rrafo-b-sico ParaOverride-1"><span class="CharOverride-1"><%= @user.first_name.split.map(&:capitalize).join(' ') %>, ¡tu reservación está lista!</span></p>
                                          <p class="P-rrafo-b-sico ParaOverride-1"><span class="CharOverride-1"><%= @appointment.schedule.instructor.first_name %> te espera a las <%= @appointment.start.strftime("%d/%m/%Y %I:%M%p") %> para una rodada en altura.</span></p>
                                          <p class="P-rrafo-b-sico ParaOverride-2"><span class="CharOverride-2">Por favor toma en cuenta los siguientes puntos para disfrutar <br />al máximo tu rodada:</span></p>
                                          <ul>
                                                  <li class="P-rrafo-b-sico ParaOverride-3"><span class="CharOverride-2">No olvides llegar </span><span class="CharOverride-3">15 minutos antes de la clase</span><span class="CharOverride-2">, ya que por tu propia <br />seguridad si llegas después no podrás subir al helipuerto .</span></li>
                                          </ul>
			<ul>
				<li class="P-rrafo-b-sico ParaOverride-3"><span class="CharOverride-2">Para tomar tu clase debes </span><span class="CharOverride-3">ser mayor de 18 años</span><span class="CharOverride-2">, si aún no lo eres deberás venir </span><span class="CharOverride-3">acompañado de un padre o tutor</span><span class="CharOverride-2">, que se responsabilice <br />de tu aceptación de riesgo, de otra manera no podrás subir al helipuerto,<br /> este acompañante podrá esperarte en nuestro front desk y deberá traer <br />su </span><span class="CharOverride-3">INE (original y copia). </span></li>
			</ul>
			<ul>
				<li class="P-rrafo-b-sico ParaOverride-3"><span class="CharOverride-2">Recuerda traer tu </span><span class="CharOverride-3">INE original y copia</span><span class="CharOverride-2">, sin ella no podrás tomar la clase.</span></li>
			</ul>
			<ul>
				<li class="P-rrafo-b-sico ParaOverride-3"><span class="CharOverride-2">Únicamente será permitido subir con </span><span class="CharOverride-3">tus tenis, celular y agua.</span><span class="CharOverride-2"> <br />Por tu seguridad no podrás llevar </span><span class="CharOverride-3">NINGÚN </span><span class="CharOverride-2">otro objeto al helipuerto.</span></li>
			</ul>
			<ul>
				<li class="P-rrafo-b-sico ParaOverride-3"><span class="CharOverride-2">Está estrictamente </span><span class="CharOverride-3">prohibido salir de la zona señalada por el Hotel.</span><span class="CharOverride-2"> <br />Deberás cumplir con las indicaciones que se te darán al subir, de lo contrario tendremos que pedirte que te retires.</span></li>
			</ul>
			<ul>
				<li class="P-rrafo-b-sico ParaOverride-3"><span class="CharOverride-2">Una vez arriba de tu bici </span><span class="CharOverride-3">no puedes volver a bajarte</span><span class="CharOverride-2"> hasta que nuestro <br />staff te lo indique.</span></li>
			</ul>
			<ul>
				<li class="P-rrafo-b-sico ParaOverride-3"><span class="CharOverride-2">No olvides que </span><span class="CharOverride-3">si quieres cancelar</span><span class="CharOverride-2"> tu ride tienes que hacerlo </span><span class="CharOverride-3">12 horas antes </span><span class="CharOverride-2">para que se te reembolse la clase.</span></li>
			</ul>
			<p class="P-rrafo-b-sico ParaOverride-4"><span class="CharOverride-3">DISFRUTA TU RIDE, Y NO OLVIDES COMPARTIR TU EXPERIENCIA EN LAS REDES SOCIALES USANDO NUESTROS HASHTAGS:</span></p>
			<p class="P-rrafo-b-sico ParaOverride-4"><span class="CharOverride-3"> #3añosbailandosobreruedas #unarodadadealtura #turitmoaotronivel #theskyisthelimit #nbicispinstudio</span></p>
		</div>
		<div class="_idGenObjectLayout-1">
			<div id="_idContainer001" class="_idGenObjectStyleOverride-1">
				<img class="_idGenObjectAttribute-1" src="<%= ENV['HOST'] %>/booking_aniversario/image/banner.jpg" alt="" />
			</div>
		</div>
		<div class="_idGenObjectLayout-1">
			<div id="_idContainer002" class="_idGenObjectStyleOverride-1">
				<img class="_idGenObjectAttribute-1" src="<%= ENV['HOST'] %>/booking_aniversario/image/nbici_logo.png" alt="" />
			</div>
		</div>
	</body>
</html>

